:root {
    background: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}


.login-page {
    width: 400px;
    display: table;
    margin-right: auto;
    margin-left: auto;
    color: #FBFBFB;
    background: #332D2D;
    text-align: center;
    border-radius: 20px;
}


.login-button {
    color: #FBFBFB;
    height: 40px;
    width: 30%;
    margin-top: 20px;
    border-radius: 5px;
    background: #332D2D;
    border: 3px solid #FBFBFB;
}


.reset-password,
.login-button,
input:hover {
    cursor: pointer;
}


@media (max-width: 400px) {
    .login-page {
        width: 350px;
    }
}
