:root {
    background: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}


.login-page {
    width: 400px;
    display: table;
    margin-right: auto;
    margin-left: auto;
    color: #FBFBFB;
    background: #332D2D;
    text-align: center;
    border-radius: 20px;
}


.login-input {
    outline: 0;
    color: #FBFBFB;
    text-align: left;
    text-indent: 10px;
    width: 50%;
    height: 35px;
    border-radius: 5px;
    background: #332D2D;
    border: 2px solid #FBFBFB;
}


.password-input {
    margin-top: 20px;
}


.login-button {
    color: #FBFBFB;
    height: 40px;
    width: 30%;
    margin-top: 20px;
    border-radius: 5px;
    background: #332D2D;
    border: 3px solid #FBFBFB;
}


.error {
    font-weight: 700;
    margin: 5px 0 5px 0;
    color: #FF4D4F;
    font-size: 14px;
}


.sign-up {
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
}


.text-grey {
    color: #969393;
}


::placeholder {
    text-indent: 10px;
    text-align: left;
    color: #FBFBFB;
}


.sign-up,
.reset-password,
.login-button,
input:hover {
    cursor: pointer;
}


@media (max-width: 400px) {
    .login-page {
        width: 350px;
    }
}
