.react-datepicker-wrapper {
    width: stretch;
}


.datepicker-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
}


.react-datepicker {
    border: 2px solid #a3a0a0;
    border-radius: 10px;
    font-family: inherit;
}


.react-datepicker__input-container input {
    text-overflow: ellipsis;
    width: stretch;
    padding-left: 40px;
}


.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
    background-color: #6a11cb !important;
    color: white !important;
}


.text-input:hover {
    outline: none;

    border-color: #e6e2e2;

    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.06);
}
