.form-field {
    margin-bottom: 20px;
}


.input {
    text-indent: 10px;
    color: #FBFBFB;
    width: 50%;
    height: 35px;
    background: #332D2D;
    border-radius: 5px;
    border: 2px solid #FBFBFB;
    outline: 2px solid #6a11cb;
}


.input:hover {
    cursor: pointer;
}


.input::placeholder {
    text-indent: 10px;
    text-align: left;
    color: #FBFBFB;
}
