.formField {
    display: flex;
    flex-direction: column;

    width: 100%;

    overflow-wrap: break-word;

    gap: 5px;
}


.formFieldError {
    display: flex;
    justify-content: flex-start;

    align-items: center;

    color: var(--error-text-color);

    font-size: 18px;
    gap: 5px;
}
