version: "3.0"

services:
  postgres:
    image: postgres:15.0
    container_name: AuthorizationServer-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ../postgres/data:/var/lib/postgresql/data
    restart: always
    networks:
        - authorization_server

  redis:
    image: redis:7.0
    container_name: AuthorizationServer-redis
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
      - ../redis/data:/data
    restart: always
    networks:
      - authorization_server

  redis-insight:
    image: redis/redisinsight:2.70
    restart: always
    ports:
      - "5540:5540"
    networks:
      - authorization_server


networks:
  authorization_server:
    driver: bridge
