.description {
    display: grid;
    font-size: 15px;
    margin-bottom: 20px;
}


.description-text {
    margin: 1px 0;
}


.scope {
    column-gap: 10px;
    margin-bottom: 10px;
}


.scope-checkbox {
    margin-right: 9px;
    accent-color: #6a11cb;
}


.cancel-button {
    background-color: transparent;
    border: none;
    margin-bottom: 5px;
}


.cancel-button:hover {
    text-decoration: underline;
}
