.button {
    height: 35px;
}


.primary {
    color: var(--text-color);
    background-color: var(--button-background);

    border: none;
}


.secondary {

    color: var(--text-color);

    background-color: rgba(255, 255, 255, 0.04);
    border: none;

    border-radius: 10px;
}


.danger {
    color: rgb(214, 93, 95);

    background-color: rgba(214, 93, 95, 0.08);
    border: none;

    border-radius: 10px;
}


.icon {
    color: #FFFFFF;
    background-color: var(--input-background);
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 5px;
}


.primary:hover {
    cursor: pointer;
    background-color: var(--button-background-hover);
}


.secondary:hover {
    cursor: pointer;

    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.16);

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


.danger:hover {
    cursor: pointer;

    color: rgb(234, 113, 115);
    background-color: rgba(214, 93, 95, 0.15);

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


.icon:hover {
    cursor: pointer;

    background-color: var(--button-background-hover);

    border: transparent;
}


.primary:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: var(--button-background);
}


.secondary:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
