:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


.separator {
    color: #969393;
    margin: 20px 0 20px 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.error {
    font-weight: 700;
    color: #ffb24d;
    font-size: 14px;
    margin-top: 5px;
}


.text-hint {
    color: #969393;
}


.link {
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
}


.link:hover {
    cursor: pointer;
}


.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid gray;
}


.separator:not(:empty)::before {
    margin-right: .25em;
}


.separator:not(:empty)::after {
    margin-left: .25em;
}
