:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}


.auth-form {
    width: 400px;
    display: table;
    margin-right: auto;
    margin-left: auto;
    color: #FBFBFB;
    background: #332D2D;
    text-align: center;
    border-radius: 20px;
}


.default-button {
    color: #FBFBFB;
    height: 40px;
    width: 30%;
    border-radius: 19px;
    background: #332D2D;
    border: 2px solid #FBFBFB;
    margin-bottom: 5px;
    outline: 2px solid #6a11cb;
}


.separator {
    color: #969393;
    margin: 20px 0 20px 0;
    display: flex;
    align-items: center;
    text-align: center;
}


.default-error {
    font-weight: 700;
    color: #9CA3AF;
    font-size: 14px;
    margin-top: 5px;
}


.text-hint {
    color: #969393;
}


.link {
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
}


.link:hover {
    cursor: pointer;
}


.default-button:hover {
    background-color: #373232;
    cursor: pointer;
}


.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid gray;
}


.separator:not(:empty)::before {
    margin-right: .25em;
}


.separator:not(:empty)::after {
    margin-left: .25em;
}


@media (max-width: 400px) {
    .login-page {
        width: 350px;
    }
}
