:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    --page-background: #211D22;

    --form-background: rgba(255, 255, 255, 0.04);

    --border-color: rgba(255, 255, 255, 0.08);
    --border-color-hover: #e6e2e2;
    --border-color-focus: #8b5cf6;

    --text-color: #FFFFFF;
    --text-color-secondary: rgba(255, 255, 255, 0.6);
    --text-color-hint: #969393;

    --input-background: rgba(255, 255, 255, 0.04);
    --input-background-focus: rgba(255, 255, 255, 0.06);

    --button-background: #6a11cb;
    --button-background-hover: #7b2be0;

    --error-text-color: rgb(214, 93, 95);
}


* {
    box-sizing: border-box;
}


.body {
    margin: 0;
}


.sidebar-layout {
    display: flex;
    gap: 20px;

    min-height: 100vh;

    padding: 10px;
}


.text-hint {
    color: #969393;
}


.link {
    text-decoration: none;
}


.link:hover {
    cursor: pointer;
}


@media (max-width: 1100px) {
    .sidebar-layout {
        flex-direction: column;
    }
}
