.primary-button {
    align-self: center;
    border-radius: 5px;
    color: #FFFFFF;
    background: #6a11cb;
    border: none;
    height: 35px;
}


.primary-button:hover {
    background-color: #7b2be0;
}
