body {
    margin: 0;
    font-family: Inter, sans-serif;
    color: #FFFFFF;
    background-color: #211D22;
}


.page {
    display: flex;
    flex-direction: column;

    width: 100%;

    gap: 20px;
}


.contentWrapper {
    display: flex;
    flex-direction: column;

    padding-top: 20px;

    gap: 20px;

    width: 70%;
}


.header {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 80%;

    gap: 10px
}


.headerTextPrimary {
    color: #FFFFFF;
    font-size: 18px;
}


.headerTextSecondary {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}


.form {
    display: flex;
    flex-direction: column;

    background: rgba(255, 255, 255, 0.04);

    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 10px;

    backdrop-filter: blur(20px);

    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.03);

    gap: 10px;
    padding-bottom: 20px;

    padding-left: 10px;
    padding-right: 10px;

    width: 80%;
}


.formHeader {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 10px;
    margin-top: 20px;

    gap: 10px;
}


.formHeaderIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #4B1D85;
    border-radius: 100px;
    padding: 8px;
}


.logoutIconWrapper {
    background: #45222D;
    color: rgb(214, 93, 95);
}


.card-logout {
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 14px;
    padding: 25px;
    margin-bottom: 25px;
    backdrop-filter: blur(12px);
}


.error {
    border-color: rgb(214, 93, 95);
}


.formHeaderText {
    display: flex;
    flex-direction: column;
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 10px;
}


.formError {
    display: flex;
    justify-content: center;

    color: rgb(214, 93, 95);

    font-size: 18px;
    gap: 5px;
}


.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;

    width: 100%;
}


.field {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}


.inputIcon {
    position: absolute;
    margin-left: 10px;
}


.formButton {
    align-self: center;
    width: 30%;
}


.showPasswordIcon {
    position: absolute;

    right: 10px;

    cursor: pointer;
}


.logoutButtonWrapper {
    display: flex;
    flex: 1;

    justify-content: flex-end;
}


.logoutButton {
    color: rgb(214, 93, 95);

    margin-top: 20px;

    height: 40px;
    width: 30%;

    border: 2px solid rgb(214, 93, 95);
    border-radius: 10px;

    background: transparent;
}


.passwordUpdateHint {
    display: flex;

    color: rgba(255, 255, 255, 0.6);

    font-size: 14px;

    gap: 3px;
    margin-left: 5px;
}


.showPasswordIcon:hover {
    color: #8b5cf6;
}


@media (max-width: 1100px) {
    .page {
        align-items: center;
    }

    .logoutButton {
        width: 50%;
    }
}


@media (max-width: 700px) {
    .formButton {
        width: 70%;
    }

    .logoutButton {
        width: 70%;
    }

    .row {
        flex-direction: column;
    }

    .logoutButtonWrapper {
        justify-content: center;
    }
}
