.registration-page {
    width: 400px;
    display: table;
    margin-right: auto;
    margin-left: auto;
    color: #FBFBFB;
    background: #332D2D;
    text-align: center;
    border-radius: 20px;
}


.registration-button {
    color: #FBFBFB;
    height: 40px;
    width: 30%;
    margin-top: 20px;
    border-radius: 5px;
    background: #332D2D;
    border: 3px solid #FBFBFB;
}


.registration-button:hover {
    cursor: pointer;
}

